body{
    background-image: url("/images/martin-olsen-rfyC-SJZ03A-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4px;
}
h1{
    /*font-style: italic;*/
}
form-control{
    background-position: center;
    padding: 3px;
}