body{
    background-image: url("/images/martin-olsen-rfyC-SJZ03A-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 10px;

}
h1{
    /*font-style: italic;*/
}
.container{
    background-position: center;
    padding: 3px;
}
/*.containerI{*/
/*    background-image: url("/images/bibake-uppal-83uG2S0aT_I-unsplash.jpg");*/
/*}*/
/*.footer{*/
/* background-color: midnightblue;*/
/*}*/
.endangered{
    background-image: url("/images/martin-olsen-rfyC-SJZ03A-unsplash.jpg");
}