{{#partial "content"}}
<div class = "container">
<div class ="view">

                      {{#each allAnimals}}
                          <p>{{name}}</p>
                          <p>{{rangerName}}</p>
                          <p>{{location}}</p>

                          <hr>
                      {{/each}}

</div>

{{/partial}}
</div>
{{> layout.hbs}}