{{#partial "content"}}
<div class="container">
<h1>You have added a new endangered Animal</h1>

<p><a href="/EndangeredAnimals-view" class="btn btn info">Check Endangered Animals </a></p>

{{/partial}}
</div>
{{> layout.hbs}}