{{#partial "content"}}

<h1>You have added a new endangered Animal</h1>

<p><a href="/" class="btn">Check Endangered Animals </a></p>
<p><a href="/sighting-form" class="btn">Add sighting </a></p>
{{/partial}}

{{> layout.hbs}}