{{#partial "content"}}

<p><a href="/animals-form" class="btn btn success">Check non-endangered </a></p>
 <p><a href="/EndangeredAnimals-form" class="btn btn success">Check endangered </a></p>
 <p><a href="/sighting-form" class="btn btn success">Add sighting </a></p>
{{/partial}}

{{> layout.hbs}}