{{#partial "content"}}
<div class ="containerI">

<p><a href="/animals-form" class="btn btn danger">Add non-endangered </a></p>
 <p><a href="/EndangeredAnimals-form" class="btn btn success">Add endangered </a></p>


{{/partial}}
 </div>
{{> layout.hbs}}