{{#partial "content"}}

<h1><strong>Wildlife Tracker</strong></h1>


<p><a href="/animals-form" class="btn">Check non-endangered </a></p>
 <p><a href="/EndangeredAnimals-form" class="btn">Check endangered </a></p>
 <p><a href="/sighting-form" class="btn">Add sighting </a></p>
{{/partial}}

{{> layout.hbs}}