{{#block "header"}}
    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Wildlife Tracker{{/block}}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="/App.css"/>
    </head>
    <body>

 <header> <nav class="navbar fixed-top navbar-fixed-top navbar-inverse navbar-dark bg-primary">
                 <div>
               <a href="/"><strong>Home</strong></a>
              <a href="/animals-view"><strong>Endagered Animals</strong></a>
                 <a href="/animals-view"><strong>Non-Endagered Animals</strong></a>
</div>
             </nav>
             </header>
             <br>

<div class="container">
 <h1><strong>Wildlife Tracker</strong></h1>
<!-- begin inner template-->

    {{#block "content"}}
      {{/block}}
<!-- end inner template-->

</body>
{{/block}}


</div>
{{#block "footer"}}
{{/block}}
</html>
