{{#partial "content"}}
            <h1>Sighting Form</h1>
            <form action="/sighting-success/new" method="post">
                <div class="form-group">
                    <label for="animalId">Animal Id</label>
                    <input id="id" name="animalId" type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                  <select name="location" id="Location" class="form-group">
                       <option value="newborn">Zone A</option>
                      <option value="young">Near the River</option>
                     <option value="adult">NE Quadrant</option>
                     <option value="adult">SE Quadrant</option>
                     <option value="adult">Jungle A</option>
                 </select>
                </div>
                <div class="form-group">
                    <label for="rangerName">Ranger Name</label>
                    <select name="location" id="Location" class="form-group">
                         <option value="rangerName">James Bill</option>
                         <option value="rangerName">Juanita Lions</option>
                          <option value="rangerName">Heavi  Kins</option>
                           <option value="rangerName">Joels  Tori</option>
                          <option value="rangerName">Barack Zera</option>
                    </select>
                </div>

        <button type="submit" class="btn btn-primary">Add sighting</button>
    </form>

{{/partial}}

{{> layout.hbs}}